
<div class="form-group">
	<label for="Nom">Nom de l'oeuvre</label>
	<input type="text" class="form-control" id="name" placeholder="Nom de l'oeuvre">
</div>
<div class="form-group">
	<label for="category">Catégorie de l'oeuvre</label>
	<input type="text" class="form-control" id="type" placeholder="Catégorie de l'oeuvre">
</div>
<div class="form-group">
	<label for="description">Description</label>
	<textarea class="form-control" cols="50" placeholder="Description"></textarea>
</div>
<div class="form-group">
	<label for="exampleInputFile">Ajouter un fichier</label>
	<input type="file" id="exampleInputFile">
</div>
<button type="submit" class="btn btn-default">Envoyer</button>

