<h4>Se connecter</h4>
<div class="form-group">
	<div class="form-group">
		<label class="sr-only" for="email">Email</label>
		<input type="text" class="form-control" id="email" name="email" placeholder="Email" />
	</div>
	<div class="form-group">
		<label class="sr-only" for="password">Mot de passe</label>
		<input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" />
	</div>
	<input type="hidden" name="login-logout" value="login" />
	<button type="submit" class="btn btn-default">Connexion</button>
	<br/><br/><br/>
</div>


