body{ 
  padding-top: 60px;
  text-align: center;
 }

div.content{ 
  width: 70%;
  margin-left: 15%;
  text-align: justify;
  min-height: 300px;
  }

ul{
	list-style-type: none;
  padding:0px;
}

.value_item,.value_item:hover{
	cursor:default;
	color:#585858;
  text-decoration:none;
}

.editable-click{
  text-decoration: none;
  color: #428bca;
  border-bottom: dashed 1px #0088cc;
}

.editable-empty{
  font-style:italic;
  color: #DD1144;
}

.name_category > .form-control{
  width:auto;
  display:inline-block;
}